.wrapper {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #7193B3;
    padding: 20px;

    }
a {
    text-decoration: none;
}
pre code {
    position: relative;
    left: -120px; // or whatever you want
  }